PyMuPDF==1.27.2.2
pymupdf4llm==1.27.2.2 
langchain==1.2.15
langchain-text-splitters==1.1.1
torchvision==0.26.0
sentence-transformers==2.7.0
transformers==4.40.2
codecarbon==2.0.0
fugashi==1.5.2
ipadic==1.0.0
unidic-lite==1.0.8
uvicorn==0.44.0
fastapi==0.136.0
ollama==0.6.1
huggingface-hub==0.24.0
dash==4.1.0
dash-cytoscape==1.0.2
networkx==3.1
diskcache==5.6.3
