PyMuPDF==1.27.2.2
pymupdf4llm==1.27.2.2 
langchain-text-splitters==1.1.1
fugashi==1.5.2
ipadic==1.0.0
unidic-lite==1.0.8
uvicorn==0.44.0
fastapi==0.136.0
ollama==0.6.1
dash[diskcache]==4.1.0
codecarbon==2.0.0
dash-cytoscape==1.0.2
networkx==3.1
pylate[voyager]==1.5.0
chardet==4.0.0
dash-bootstrap-components==2.0.4
gradio==6.13.0